{{> _header}}

{{#if ((currentUser) && (currentUser.id === user.id)) }}
  <a href="/edit" class="pull-right">Atualize seu perfil</a>
{{/if}}

<h1>{{ user.name() }}</h1>
<h2>Cadastrou-se em {{= user.createdAt }}</h2>

{{#if (user.bio)  }}
  <p>{{= user.bio }}</p>
{{/if}}

{{> _footer }}
